<footer class="footer mt-auto">
  <div class="container text-center small" style="text-align: center;">
      Copyright © 2021-2025. All Rights Reserved by kids.aah.name
      <span class="mx-2">|</span>
      <a href="https://kids.aah.name/privacy.html" target="_blank" rel="noopener noreferrer">개인정보처리방침</a>
  </div>
</footer>

<script src="/js/script.js"></script>
</body>
</html>
