<%- include('layout') %>

<div class="hero">
  <h1>아이들의 소중한 앨범을 관리해요!</h1>
  <img src="/images/character.png" alt="Character Image">
  <p>학생 앨범과 학급 앨범을 안전하게 관리할 수 있는 KidsNote</p>
</div>

<div class="buttons">
  <button onclick="location.href='/student_album'">학생 앨범</button>
  <button onclick="location.href='/class_album'">학급 앨범</button>
  <button onclick="location.href='/teacher_dashboard'">선생님 대시보드</button>
</div>
