<%- include('../partials/top') %>

<h1>게시글 목록</h1>

<a href="/posts/new">새 게시글 작성</a>

<ul>
  <% posts.forEach(post => { %>
    <li>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </li>
  <% }); %>
</ul>
<%- include('../partials/bottom') %>
