<h1><%= post.title %></h1>

<p><%= post.content %></p>

<a href="/posts/<%= post.id %>/edit">수정</a>

<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
  <button type="submit">삭제</button>
</form>

<a href="/posts">목록으로</a>
